doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        title="Web en PUG"
    body
        h1=mensaje
        a(href="https://www.google.com")
            h2=nombre
        p=2+2
        